*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif; 
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(229, 61, 61);
    color: rgb(238, 9, 9);
    padding: 10px 10px;
    top: 0;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: background-color 0.1s ease-in-out;
}

.navbar:hover {
    background-color: rgba(210, 28, 28, 0.905);
}
.navbar a {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration:none;
    padding: 7px;
    font-weight: 700;
    margin: 0 15px;
    font-size: 20px;
}
.navbar a:hover {
    background-color: rgb(2, 1, 1);
}
.navbar a svg {
    margin-right: 3px; 
}
.navbar a img {
    margin-right: 5px;
}

.gif-container {
    display: flex;
    background-color: black;
 
    border-radius: 3px; 
    shape-outside: circle(100%);
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  
   
    position:relative;
   
    width: 100%;
   
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
  
    position: relative;
    margin-left: 0;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    
    position: relative;
    margin-left: 0;
}

.image  {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    scale: 0.55;

    position:relative;
   
    
    
    

   
    height: 30%;
    object-fit:cover;
}
   
.h1 {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: cursive;

}
.left h1{
    font-size: 70px;
    
    margin-bottom: 30px;
    font-family: cursive;
    font-stretch: expanded;
   margin-bottom: 100px;
    margin-left:50px;
    background-color: rgba(255, 119, 173, 0.004);
    
    

}
.reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.review-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.review-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.profile-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.review {
    font-size: 1rem;
    color: #555;
}
.reviwerhead h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: cursive;

    margin-left: 50px;
    margin-top: 50px;
    background-color:rgba(229, 46, 46, 0.748);
}

.carousel-section {
    text-align: center;
    padding: 20px;
}
.carousel-section h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: cursive;
    background-color:rgba(229, 46, 46, 0.748);

    margin-left : 30px;
}

.photos {
    display: flex;
    overflow-x: auto;
    gap: 75px;
    padding: 50px;
}

.photos img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.photos img:hover {
    transform: scale(1.20);
}
.footing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 46, 46, 0.748);
    position: relative;
    margin-left: 0;
    padding:20px;

}


.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 204, 204, 0.912);
    position: relative;


}
.image-container {
    position: relative;
    width: 100%;
    
}
.image-container img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top:14%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: rgba(231, 215, 215, 0); 
    padding: 20px;
    border-radius: 10px;
    

}
.text-overlay h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:10px;
    font-family: cursive;
    background-color: rgba(226, 226, 239, 0.836);
    background-size: contain;

}

.text-overlay p {
    font-size: 25px;
    margin-bottom: 5px;
    font-family:cursive;
    background-color: rgba(226, 226, 239, 0.836);
}
#about {
    padding: 20px;
    text-align: center;
  }
.slider-container {
    margin-left:15px;
    
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
    position: absolute;
    top: 90%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(231, 215, 215, 0); 
    padding: 42px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    flex-direction: row;
}
.slider-container h2{
    font-family: cursive;

}
.slide {
    width: 100%;
    max-width: 240px;
    height: 240px;
    background: rgba(211, 211, 211, 0.404);
    padding: 70px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 140px;
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
    flex-shrink: 0; 
    background-size: cover; 
    background-position: center; 
    transition: 0.5s;
}
.slide:hover {
    transform: scale(1.1);
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.74);
    border-radius: 10px;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.hobbie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: rgba(248, 155, 118, 0.823);
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(231, 215, 215, 0);
    padding: 20px;
    border-radius: 10px;
}

.hobbie h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 55px;
    font-family: cursive;   
    margin-left:95px;

    background-color: rgba(226, 226, 239, 0.836);
}
.next-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(244, 204, 204, 0.912);
    position: relative;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(244, 204, 204, 0.912);
    position: relative;
    margin-left: 0;
}

.section1 h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: cursive;
    background-color: rgba(226, 226, 239, 0.836);
}

.ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(244, 204, 204, 0.912);
    position: relative;
}

.ticket {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 300px;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 20px;
    margin-top: 70px;
    background-color: rgba(227, 211, 211, 0.086);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ticket:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color:rgba(241, 181, 181, 0.866);
}

.ticket h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 5px;
    font-family: cursive;
    background-color: rgba(226, 226, 239, 0.836);
    margin-bottom: 110px;
    padding-left: 10px;
    margin-right:10px;
}
.ticket p {
    font-size: 25px;
    margin-left: 15px;
    border-style: inherit;
    border: 20px;
  
    font-family: cursive;
    background-color: rgba(226, 226, 239, 0.836);
}

.ticketimage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 200px; 
    height: 116%;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 15px;
    background-color: rgba(227, 211, 211, 0.086); 
}

.ticket img {
    width: 250px; 
    height: 100%;
    object-fit: cover;
    margin-left: 0; 
    margin-right: 20px; 
    backdrop-filter: blur(100px);
}


.footer {
    margin-top: 100px;
    background: #1a1a1af7;
    padding: 30px 20px;
    text-align: center;
}
.footer h2 {
    color: #e9294d;
    margin-bottom: 10px;
    font-size: 50px;
    padding: 50px;
}
.footer p {
    font-size: 22px;
    margin: 5px 0;
    color: blanchedalmond;
    padding:12px
}
.footer a {
    color: #ff4d6d;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px;
    margin-top: 15px;
}
.footer a:hover {
    
    color: #d33054;
}
.social-icons {
    margin-top: 15px;
}
.social-icons a {
    margin: 0 10px;

    font-size: 30px;
    display: inline-block;
    margin-left: 95px;
    margin-right: 75px;
}
.social-icons svg{
    color: #ff4d6d;

   
}
